In [1]:
import pandas as pd

import numpy as np

In [6]:
#
data_load = "ACS_16_5YR_S1501 - Educational Attainment/ACS_16_5YR_S1501_with_ann.csv"
census_data2 = pd.read_csv(data_load)
census_data2.head()

,GEO.id2,HC01_EST_VC02,HC01_MOE_VC02,HC02_EST_VC02,HC02_MOE_VC02,HC03_EST_VC02,HC03_MOE_VC02,HC04_EST_VC02,HC04_MOE_VC02,HC05_EST_VC02,...,HC02_EST_VC85,HC02_MOE_VC85,HC03_EST_VC85,HC03_MOE_VC85,HC04_EST_VC85,HC04_MOE_VC85,HC05_EST_VC85,HC05_MOE_VC85,HC06_EST_VC85,HC06_MOE_VC85
0,Id2,Total; Estimate; Population 18 to 24 years,Total; Margin of Error; Population 18 to 24 years,Percent; Estimate; Population 18 to 24 years,Percent; Margin of Error; Population 18 to 24 ...,Males; Estimate; Population 18 to 24 years,Males; Margin of Error; Population 18 to 24 years,Percent Males; Estimate; Population 18 to 24 y...,Percent Males; Margin of Error; Population 18 ...,Females; Estimate; Population 18 to 24 years,...,Percent; Estimate; MEDIAN EARNINGS IN THE PAST...,Percent; Margin of Error; MEDIAN EARNINGS IN T...,Males; Estimate; MEDIAN EARNINGS IN THE PAST 1...,Males; Margin of Error; MEDIAN EARNINGS IN THE...,Percent Males; Estimate; MEDIAN EARNINGS IN TH...,Percent Males; Margin of Error; MEDIAN EARNING...,Females; Estimate; MEDIAN EARNINGS IN THE PAST...,Females; Margin of Error; MEDIAN EARNINGS IN T...,Percent Females; Estimate; MEDIAN EARNINGS IN ...,Percent Females; Margin of Error; MEDIAN EARNI...
1,78701,528,199,(X),(X),380,194,(X),(X),148,...,(X),(X),102578,32352,(X),(X),76518,34893,(X),(X)
2,78702,1759,302,(X),(X),802,182,(X),(X),957,...,(X),(X),73162,6052,(X),(X),52107,2798,(X),(X)
3,78703,915,212,(X),(X),463,156,(X),(X),452,...,(X),(X),114145,19362,(X),(X),56364,10084,(X),(X)
4,78704,4750,494,(X),(X),2298,412,(X),(X),2452,...,(X),(X),81104,7418,(X),(X),53125,5434,(X),(X)

In [7]:
#make table with only columns we need
edu_census = census_data2[["GEO.id2",
"HC01_EST_VC02",
"HC01_EST_VC03",
"HC01_EST_VC04",
"HC01_EST_VC05",
"HC01_EST_VC06",
"HC01_EST_VC08",
"HC01_EST_VC09",
"HC01_EST_VC10",
"HC01_EST_VC11",
"HC01_EST_VC12",
"HC01_EST_VC13",
"HC01_EST_VC14",
"HC01_EST_VC15",
"HC01_EST_VC17",
"HC01_EST_VC18",
"HC02_EST_VC17",
"HC02_EST_VC18"
]]
edu_census.head(10)

,GEO.id2,HC01_EST_VC02,HC01_EST_VC03,HC01_EST_VC04,HC01_EST_VC05,HC01_EST_VC06,HC01_EST_VC08,HC01_EST_VC09,HC01_EST_VC10,HC01_EST_VC11,HC01_EST_VC12,HC01_EST_VC13,HC01_EST_VC14,HC01_EST_VC15,HC01_EST_VC17,HC01_EST_VC18,HC02_EST_VC17,HC02_EST_VC18
0,Id2,Total; Estimate; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - L...,Total; Estimate; Population 18 to 24 years - H...,Total; Estimate; Population 18 to 24 years - S...,Total; Estimate; Population 18 to 24 years - B...,Total; Estimate; Population 25 years and over,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Percent high school graduate ...,Total; Estimate; Percent bachelor's degree or ...,Percent; Estimate; Percent high school graduat...,Percent; Estimate; Percent bachelor's degree o...
1,78701,528,26,20,202,280,6570,138,135,468,659,223,2623,2324,(X),(X),95.8,75.3
2,78702,1759,291,374,737,357,16244,2066,1485,3626,2798,444,3883,1942,(X),(X),78.1,35.9
3,78703,915,53,78,298,486,15824,144,110,510,1399,280,6970,6411,(X),(X),98.4,84.6
4,78704,4750,301,768,2409,1272,34620,1198,977,3498,5804,1562,14067,7514,(X),(X),93.7,62.3
5,78705,24954,79,2680,20391,1804,6641,132,92,394,1391,201,2638,1793,(X),(X),96.6,66.7
6,78721,1142,276,454,267,145,8221,1481,964,2250,1491,314,1183,538,(X),(X),70.3,20.9
7,78722,571,19,92,269,191,5587,109,148,733,829,174,2175,1419,(X),(X),95.4,64.3
8,78723,2919,477,907,1063,472,21523,2381,1637,4519,4064,982,5203,2737,(X),(X),81.3,36.9
9,78727,2267,165,790,1050,262,21677,334,922,2890,4327,1295,8012,3897,(X),(X),94.2,54.9

In [8]:
edu_census.count()

GEO.id2          29
HC01_EST_VC02    29
HC01_EST_VC03    29
HC01_EST_VC04    29
HC01_EST_VC05    29
HC01_EST_VC06    29
HC01_EST_VC08    29
HC01_EST_VC09    29
HC01_EST_VC10    29
HC01_EST_VC11    29
HC01_EST_VC12    29
HC01_EST_VC13    29
HC01_EST_VC14    29
HC01_EST_VC15    29
HC01_EST_VC17    29
HC01_EST_VC18    29
HC02_EST_VC17    29
HC02_EST_VC18    29
dtype: int64

In [9]:
edu_census

,GEO.id2,HC01_EST_VC02,HC01_EST_VC03,HC01_EST_VC04,HC01_EST_VC05,HC01_EST_VC06,HC01_EST_VC08,HC01_EST_VC09,HC01_EST_VC10,HC01_EST_VC11,HC01_EST_VC12,HC01_EST_VC13,HC01_EST_VC14,HC01_EST_VC15,HC01_EST_VC17,HC01_EST_VC18,HC02_EST_VC17,HC02_EST_VC18
0,Id2,Total; Estimate; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - L...,Total; Estimate; Population 18 to 24 years - H...,Total; Estimate; Population 18 to 24 years - S...,Total; Estimate; Population 18 to 24 years - B...,Total; Estimate; Population 25 years and over,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Percent high school graduate ...,Total; Estimate; Percent bachelor's degree or ...,Percent; Estimate; Percent high school graduat...,Percent; Estimate; Percent bachelor's degree o...
1,78701,528,26,20,202,280,6570,138,135,468,659,223,2623,2324,(X),(X),95.8,75.3
2,78702,1759,291,374,737,357,16244,2066,1485,3626,2798,444,3883,1942,(X),(X),78.1,35.9
3,78703,915,53,78,298,486,15824,144,110,510,1399,280,6970,6411,(X),(X),98.4,84.6
4,78704,4750,301,768,2409,1272,34620,1198,977,3498,5804,1562,14067,7514,(X),(X),93.7,62.3
5,78705,24954,79,2680,20391,1804,6641,132,92,394,1391,201,2638,1793,(X),(X),96.6,66.7
6,78721,1142,276,454,267,145,8221,1481,964,2250,1491,314,1183,538,(X),(X),70.3,20.9
7,78722,571,19,92,269,191,5587,109,148,733,829,174,2175,1419,(X),(X),95.4,64.3
8,78723,2919,477,907,1063,472,21523,2381,1637,4519,4064,982,5203,2737,(X),(X),81.3,36.9
9,78727,2267,165,790,1050,262,21677,334,922,2890,4327,1295,8012,3897,(X),(X),94.2,54.9
10,78730,306,32,80,153,41,6549,18,103,459,1071,325,2645,1928,(X),(X),98.2,69.8
11,78731,1893,107,237,834,715,20022,233,162,1366,2542,645,7880,7194,(X),(X),98,75.3
12,78732,355,26,225,54,50,10265,126,150,646,1336,646,4550,2811,(X),(X),97.3,71.7
13,78733,341,50,90,149,52,5803,28,64,417,636,255,2364,2039,(X),(X),98.4,75.9
14,78735,825,43,156,402,224,12291,284,261,1305,2106,410,4689,3236,(X),(X),95.6,64.5
15,78741,12567,1311,2036,7616,1604,29670,4259,3136,6055,5615,1793,6155,2657,(X),(X),75.1,29.7
16,78742,100,20,28,52,0,513,94,99,110,105,53,45,7,(X),(X),62.4,10.1
17,78744,4949,1151,1992,1599,207,27679,5352,3734,7721,5046,1425,3329,1072,(X),(X),67.2,15.9
18,78745,4415,593,912,1999,911,46008,2526,3354,9330,10863,2556,12198,5181,(X),(X),87.2,37.8
19,78746,1064,184,194,311,375,19659,46,124,941,2320,640,8553,7035,(X),(X),99.1,79.3
20,78749,2193,127,449,1116,501,26702,226,425,2558,5412,1464,10592,6025,(X),(X),97.6,62.2
21,78750,2092,270,619,846,357,20802,427,438,2950,3807,1318,7101,4761,(X),(X),95.8,57
22,78751,2929,67,157,1538,1167,10276,167,145,966,1369,312,4359,2958,(X),(X),97,71.2
23,78752,1778,445,465,570,298,13197,2276,1261,2909,2599,311,2705,1136,(X),(X),73.2,29.1
24,78753,5287,1394,1895,1585,413,35575,5588,4153,10182,7339,1691,4903,1719,(X),(X),72.6,18.6
25,78756,656,13,92,305,246,6867,98,160,657,723,221,2941,2067,(X),(X),96.2,72.9
26,78757,1277,226,294,631,126,17934,733,572,2552,2940,1028,6434,3675,(X),(X),92.7,56.4
27,78758,4233,665,1307,1733,528,31934,3319,2504,7584,6425,1702,7372,3028,(X),(X),81.8,32.6
28,78759,2019,121,279,797,822,31942,350,400,2941,5731,1532,11999,8989,(X),(X),97.7,65.7

In [14]:
#remove columns with X values
edu_census_clean =  edu_census[["GEO.id2",
"HC01_EST_VC02",
"HC01_EST_VC03",
"HC01_EST_VC04",
"HC01_EST_VC05",
"HC01_EST_VC06",
"HC01_EST_VC08",
"HC01_EST_VC09",
"HC01_EST_VC10",
"HC01_EST_VC11",
"HC01_EST_VC12",
"HC01_EST_VC13",
"HC01_EST_VC14",
"HC01_EST_VC15",
"HC02_EST_VC17",
"HC02_EST_VC18"
]]

In [15]:
#change GEO.id2 column name to Zip Code
edu_census_clean = edu_census_clean.rename(columns={"GEO.id2":"Zip Code"})
edu_census_clean.head()

,Zip Code,HC01_EST_VC02,HC01_EST_VC03,HC01_EST_VC04,HC01_EST_VC05,HC01_EST_VC06,HC01_EST_VC08,HC01_EST_VC09,HC01_EST_VC10,HC01_EST_VC11,HC01_EST_VC12,HC01_EST_VC13,HC01_EST_VC14,HC01_EST_VC15,HC02_EST_VC17,HC02_EST_VC18
0,Id2,Total; Estimate; Population 18 to 24 years,Total; Estimate; Population 18 to 24 years - L...,Total; Estimate; Population 18 to 24 years - H...,Total; Estimate; Population 18 to 24 years - S...,Total; Estimate; Population 18 to 24 years - B...,Total; Estimate; Population 25 years and over,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Total; Estimate; Population 25 years and over ...,Percent; Estimate; Percent high school graduat...,Percent; Estimate; Percent bachelor's degree o...
1,78701,528,26,20,202,280,6570,138,135,468,659,223,2623,2324,95.8,75.3
2,78702,1759,291,374,737,357,16244,2066,1485,3626,2798,444,3883,1942,78.1,35.9
3,78703,915,53,78,298,486,15824,144,110,510,1399,280,6970,6411,98.4,84.6
4,78704,4750,301,768,2409,1272,34620,1198,977,3498,5804,1562,14067,7514,93.7,62.3

In [18]:

#drop 1st row b/c it is descriptions not values
edu_census_clean=edu_census_clean.drop([0],axis=0)
edu_census_clean.head()

,Zip Code,HC01_EST_VC02,HC01_EST_VC03,HC01_EST_VC04,HC01_EST_VC05,HC01_EST_VC06,HC01_EST_VC08,HC01_EST_VC09,HC01_EST_VC10,HC01_EST_VC11,HC01_EST_VC12,HC01_EST_VC13,HC01_EST_VC14,HC01_EST_VC15,HC02_EST_VC17,HC02_EST_VC18
1,78701,528,26,20,202,280,6570,138,135,468,659,223,2623,2324,95.8,75.3
2,78702,1759,291,374,737,357,16244,2066,1485,3626,2798,444,3883,1942,78.1,35.9
3,78703,915,53,78,298,486,15824,144,110,510,1399,280,6970,6411,98.4,84.6
4,78704,4750,301,768,2409,1272,34620,1198,977,3498,5804,1562,14067,7514,93.7,62.3
5,78705,24954,79,2680,20391,1804,6641,132,92,394,1391,201,2638,1793,96.6,66.7

In [19]:
#save to csv
edu_census_clean.to_csv("2016 educational attainment.csv", index=False, header=True)

In [20]:
edu_census_clean.columns

Index(['Zip Code', 'HC01_EST_VC02', 'HC01_EST_VC03', 'HC01_EST_VC04',
       'HC01_EST_VC05', 'HC01_EST_VC06', 'HC01_EST_VC08', 'HC01_EST_VC09',
       'HC01_EST_VC10', 'HC01_EST_VC11', 'HC01_EST_VC12', 'HC01_EST_VC13',
       'HC01_EST_VC14', 'HC01_EST_VC15', 'HC02_EST_VC17', 'HC02_EST_VC18'],
      dtype='object')